.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Avoid node_modules folder.
node_modules/

# Ignoring development and production folders (If need to deploy to Heroku, comment the "dist" line).
.cache

# Ignoring SCSS compiled files.
*.css.map
*.scss
