body {
  background: #3f51b5;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.full-page {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.footer {
  margin-top: 5%;
  position: absolute;
  bottom: auto;
}

#page-container {
  position: relative;
  min-height: 100%;
  width: 100%;
  height: 2.5rem;
}
