@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

body {
  background: #ffffff;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.full-page {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.footer {
  margin-top: 5%;
  position: absolute;
  bottom: auto;
}

#page-container {
  position: relative;
  min-height: 100%;
  width: 100%;
  height: 2.5rem;
}

.shadow {
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

/* ---- Fonts  ---- */

h1 {
  font-size: 2.25em;
  font-weight: bold;
}

button {
  font-weight: 800 !important;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.card-title {
  font-size: 1.75em;
  letter-spacing: 2px;
}

.card-text {
  font-weight: 600;
}

label {
  font-size: 1.25em;
  font-weight: bold;
}

small {
  font-weight: 700;
}
